1. Script to run the boilerplate, importing componentr via pnpm workspace. Has hot reloading. 

A dev starting a fresh project needs to clone the boilerplate. So ensuring the components work on the boilerplate is a crucial demonstration.
The implementation of the components should be heavily localised. For mocking we declare consts in the boilerplate in [whatever the boilerplates const dir is.].
This leads us to our second script:

2. Script to clone the boilerplate, and start developing a new project.

This "new project" should follow a rolling release model. We need to identify avenues of dependency drift between the boilerplate (which would be maintained by the dev post clone) and the component library (which would continue to be maintained by the library maintainers.)
In my experience for something like a boilerplate library, the component library maintainer ends up with a great control of dependency management. For example, the library maintainer can compell the developer to upgrade (or downgrade) to a specific version of a critical package like axios or svelte or node.
This "decider-payer" gap (the library maintainer decides while the dev pays) can only be reconciled if both the library and the dev are on a rolling release (incrementally upgrading packages with the intent to never downgrade). Basically, keep your packages updated. Both the boilerplate and the library enforce a pnpm cooldown of 7 days for new package versions.
As a maintainer I will act in good faith and not pin packages unecessarily.

Theres also the question of AI agent integrations. How would an AI know what the exposed features / limitations of the library's interface are, the design rationale, what could be changed and what should not be changed. We're still figuring that out at this point.

3. 
